<span class="h1">Latest Remote Jobs</span>
<div>
	<ul style="list-style:none; padding:2px; margin:2px;">

	{% for job in latestJobs %}
    	<li class='job'>
    		<a href='https://goremote.io/job/{{job.jobid}}/{{ slugify(job.position)|url_encode }}'>
	    		<span class="position"><strong>{{job.position}}</strong> @ </span><span>{{job.companyname}}</span>
				<span class="right date show-for-medium-up">&bull; {{job.dateadded_unixtime|date('M d')}}</span>
    		</a>
    	</li>
    {% endfor %}

    </ul>
</div>

<strong>If daily emails get annoying, please let me know - it might be an idea to have a weekly email</strong>