{% extends "layout.html.twig" %}
{% block title %}{% endblock %}
{% block opengraphdescription %}All remote friendly tech jobs aggregated in one place - we're open source, and have an API available{% endblock %}
{% block content %}
    <h1>Latest Remote Jobs</h1>
    <ul>
    {% for job in latestJobs %}
    	<li class='job'>
    		<a href='{{ path('job-by-id-title', {id: job.jobid, title: slugify(job.position)}) }}'>
	    		<span class="company">{{job.companyname}}</span>
	    		<span class="position">{{job.position}}</span>
	    		<span class="right date show-for-medium-up">{{job.dateadded_unixtime|date('M d')}}</span>
                <span class="right source show-for-medium-up">{{job.sourcename}}</span>
    		</a>
    	</li>
    {% endfor %}
    </ul>
{% endblock %}