{% extends "layout.html.twig" %}
{% block title %}{{job.position}} @ {{job.companyname}} - {% endblock %}
{% if job.companylogo is not empty %}
    {% block opengraphimage %}{{job.companylogo}}{% endblock %}
{% endif %}

{% block opengraphdescription %}{{job.description|clickable|raw}}{% endblock %}

{% block content %}
	{% if job.companylogo is not empty %}
    	<img class='right' src='{{job.companylogo}}' />
    {% endif %}

    <h1>{{job.position}}</h1>
    <h2>{{job.companyname}}</h2>
    <h3>Added {{job.dateadded_unixtime|date('M d')}}</h3>

    <a href='{{job.applyurl}}' class='show-for-small-only button'>Apply for this position</a>
    <hr>

    {{job.description|clickable|raw}}

	<br>
    <a href='{{job.applyurl}}' class='button'>Apply for this position</a>
{% endblock %}
